<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title inertia>
      AdonisJS x Inertia x React
    </title>
    
    @stack('dumper')
    @viteReactRefresh()
    @inertiaHead()
    @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])
  </head>
  
  <body class="font-inter">
    
    <div class="grid min-h-svh lg:grid-cols-2">
      <div class="flex flex-col gap-4 p-6 md:p-10">
        {{-- <div class="flex justify-center gap-2 md:justify-start">
          {/*<a href="#" class="flex items-center gap-2 font-medium">
            <div class="bg-primary text-primary-foreground flex size-6 items-center justify-center rounded-md">
              <GalleryVerticalEnd class="size-4" />
            </div>
            Creator Lucid
          </a>*/}
        </div> --}}
        
        @inertia()
        
      </div>
      <div class="bg-muted relative hidden lg:block">
        {{-- <img
        src="{{asset('resources/assets/placeholder.svg')}}"
        alt="Image"
        class="absolute inset-0 h-full w-full object-cover"
        /> --}}
      </div>
    </div>
  </body>
  
</html>
